/*
ÍNDICE:
    1.- Estilos generales
    2.- Header
        2.1.- Logo
        2.2.- Menús
        2.3.- Banner
        2.4.- Breadcrumb
    3.- Main
        3.1.- Productos
        3.2.- Botón
    4.- Aside
        4.1.- Formulario
    5.- Footer
        5.1.- Sección contacto
        5.2.- Sección localización
    6.- Media queries
*/

/* 1.- ESTILOS GENERALES */

/* importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&display=swap');

html {
    font-size: 14px;
}

body {
    background-color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    max-width: 60vw;
    margin: 0 auto;

    /* maquetación de la página*/
    display: grid;
    grid-template-areas: "header header"
        "main aside"
        "footer footer";
    grid-template-columns: 65% 35%;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    padding: 20px 0;
    color: #624D37;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    color: white;
    font-weight: bold;
}

p {
    line-height: 1.5;
    color: black;
}

a {
    text-decoration: none;
}

.center {
    margin: 0 auto;
}

/** 
    2.- HEADER
**/

header {
    grid-area: header;
}

/* 2.1.- Logo */
#logo img {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

/* 2.2.- Menú de navegación e idioma */
.navbar {
    display: flex;
    position: relative;
    background-color: #F1F0F0;
    overflow: hidden;

}

.menu {
    flex: 100%;
}

.idioma {
    position: absolute;
    top: auto;
    right: 50px;
}

nav {
    font-size: .9rem;

}

nav ul {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav li a {
    padding: 1rem;
    color: black;
}

nav li a:hover {
    color: #F1F0F0;
    background-color: #707070;
    transition: 0.5s;
}

.checked {
    background-color: #707070;
    color: #F1F0F0;
}

/* 2.3.- Banner */

.banner {
    position: relative;
}

.banner img {
    display: block;
    width: 100%;
}

.banner h2 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    color: #FFFFFF;
    text-shadow: 3px 3px 5px #000000;
}

/* 2.4.- Breadcrumb */

/* 
    3.- MAIN 
*/
main {
    grid-area: main;
    margin: 0 20px;
}

/* 3.1.- Productos */
.productos {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.productos article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 33%;
}

.productos article:nth-child(even) {
    margin: 0 8px;
}

.img-producto {
    display: block;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

/* 3.2.- Botón*/
.boton {
    display: block;
    text-align: center;
    background-color: #DAC2A6;
    color: white;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
}

a:hover .boton {
    background-color: #624D37;
    transition: 0.5s;
}

/* 
    4.- ASIDE
*/

aside {
    grid-area: aside;

}

aside h4 {
    margin-bottom: 20px;
}

/* 4.1.- Formulario */
.form-aside {
    display: flex;
    flex-direction: column;
}

.form-aside-item {
    font-size: .9rem;
    border: 0px;
    border-radius: 8px;
    margin: 4px 60px;
    padding-left: 8px;
}

.form-aside-item:focus {
    border: 1px solid #DAC2A6;
    outline: none !important;
}

.fondo-gris {
    background-color: #F1F0F0;
    margin: 20px 0;
    padding: 20px 0;
}

.form-registro-aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.form-registro-aside label {
    font-size: .8rem;
    padding-right: 20px;
}

.form-registro-aside button {
    font-size: .85rem;
    display: inline;
    text-align: center;
    background-color: #624D37;
    color: white;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px 8px;
}

/* 5.- FOOTER */

footer {
    grid-area: footer;
    background-color: #908983;
    display: flex;

}

footer section {
    padding: 25px 40px 0 40px;
}

footer p {
    padding: 20px 0;
    color: #DAC2A6;
}

footer a {
    color: inherit;
}

footer span {
    color: white;
}

/* 5.1.- Sección contacto */
.footer-contact {
    flex-basis: 55%;
}

/* 5.1.1.- Formulario */
.fila-form {
    display: flex;
    justify-content: space-between;
    margin: 0 40px 6px 0;
    font-size: .8rem;
}

.fila-form label {
    flex-basis: 20%;
    color: white;
}

.fila-form input,
textarea {
    flex: 1;
    border-radius: 10px;
    border: 0px;
    resize: none;
    font-size: .8rem;
    padding-left: 8px;
}

.registrar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox label {
    color: white;
    font-size: .8rem;
}

.boton:hover {
    background-color: #624D37;
    transition: 0.5s;
}

/* 5.2.- Sección localización  */
.footer-map {
    flex-basis: 45%;
}

.mapa {
    display: block;
    border-radius: 10px;
    object-fit: fill;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}

.redes-sociales {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.redes-sociales a {
    opacity: .5;
}

.redes-sociales a:hover {
    opacity: 1;
}

.redes-sociales img {
    width: 50%;
}

/* MEDIA QUERIES*/

@media only screen and (min-width: 991px) and (max-width: 1400px) { 
    body {
        display: flex;
        flex-direction: column;
        grid-template-areas: "header header"
        "main"
        "aside"
        "footer footer";
        grid-template-columns: 65% 35%;
    }
    
    /* MENÚ */
    .idioma {
        right: 0px;
    }

    nav {
        font-size: .6rem;
    }

    /* ASIDE */
    .form-registro-aside {
        padding: 0 50px 20px 0;
    }

    /*FOOTER */
    .redes-sociales {
        padding: 0 25px 100px;
    }

    .redes-sociales img {
        width: 75%;
    }
}

@media only screen and (max-width: 990px) {
    body {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 1.5rem;
    }

    /* MENÚ */
    .navbar {
        display: flex;
        flex-direction: column;
        position: unset;
    }

    .menu {
        flex: auto;
    }

    .idioma {
        border-top: 1px dotted #624D37;
        position: unset;
    }

    nav {
        font-size: 1.1rem;
        padding: 10px 0;

    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    nav li {
        padding: 5px 5px;
    }

    nav li a {
        padding: 0px 5px;
        border: 1px solid #707070;
        border-radius: 5px;
    }

    nav li a:hover {
        padding: 0px 0;
        transition: 0s;
    }

    /* ASIDE */
    .form-registro-aside {
        flex-direction: column;
        padding: 0 0 20px 0;
    }

    .form-registro-aside label {
        padding: 0 0 15px 0;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }

    .fila-form {
        flex-direction: column;
        margin: 0 0 6px 0;
    }

    .fila-form label {
        flex-basis: auto;
        padding-bottom: 4px;
    }

    .registrar {
        flex-direction: column;
        padding: 0;
        margin-top: 10px;
    }

    .checkbox {
        padding-bottom: 10px;
    }

    .redes-sociales {
        padding: 0 25px 10px;
    }

    .redes-sociales img {
        width: 75%;
    }
}